<div class="cardBox">
  <div class="card">
      <div>
          <div class="numbers">{{sharedData.gain  | number: '1.2-2'}}</div>
          <div class="cardName">gain</div>
      </div>

      <div class="iconBx">
          <!-- <ion-icon name="eye-outline"></ion-icon> -->
      </div>
  </div>

  <div class="card">
      <div>
          <div class="numbers">{{sharedData.salle  }}</div>
          <div class="cardName">Sales</div>
      </div>

      <div class="iconBx">
          <!-- <ion-icon name="cart-outline"></ion-icon> -->
      </div>
  </div>

  <div class="card">
      <div>
          <div class="numbers">{{sharedData.credit | number: '1.2-2'}}</div>
          <div class="cardName">credit</div>
      </div>

      <div class="iconBx">
          <!-- <ion-icon name="chatbubbles-outline"></ion-icon> -->
      </div>
  </div>

  <div class="card">
      <div>
          <div class="numbers">{{sharedData.annuler }}</div>
          <div class="cardName">annuler</div>
      </div>

      <div class="iconBx">
          <!-- <ion-icon name="cash-outline"></ion-icon> -->
      </div>
  </div>
</div>